.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2e3136;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2e3136;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.EventCell {
  box-sizing: border-box;
  margin: auto;
  margin-top: 5px;
  width: 95%;
  border: 1px solid black;
  background: linear-gradient(to bottom, #808080 0%, #333333 100%);
  text-align: left;
  border-radius: 10px;
}

.Icon {
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
}

.ItemName {
  position: relative;
  left: 50px;
  padding-top: 12px;
  color: rgb(46, 97, 206);
  font-size: calc(10px + 2vmin);
}

.ItemTo {
  position: relative;
  left: 55px;
  color: rgb(43, 126, 57);
}

.ItemSubject {
  text-align: left;
  position: relative;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: calc(10px + 2vmin);
}

.Button {
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
}

.Hidden {
  padding: 10px;
  font-size: calc(8px + 2vmin);
}